In [ ]:
import pandas as pd
import datetime
import numpy as np
# Testing

# Linkedin Data from Kaggle

In [ ]:
data = pd.read_csv("job postings 2023 24/postings.csv")

In [ ]:
data.columns

In [ ]:
def convert_unix_to_ddmmyyyy(unix_time):
    # Convert from milliseconds to seconds
    unix_time_seconds = unix_time / 1000.0
    
    # Convert to datetime and handle errors
    formatted_dates = pd.to_datetime(unix_time_seconds, unit='s', errors='coerce')
    
    # Format as 'dd-mm-yyyy'
    return formatted_dates.dt.strftime('%d-%m-%Y')

In [ ]:
raw_data = data.copy()

In [ ]:
raw_data['original_listed_time_mod'] = convert_unix_to_ddmmyyyy(raw_data['original_listed_time'])

In [ ]:
raw_data['original_listed_time_mod'] =pd.to_datetime(raw_data['original_listed_time_mod'], format='%d-%m-%Y', errors='coerce')

In [ ]:
raw_data['original_listed_time_mod'].min()

In [ ]:
raw_data['original_listed_time_mod'].max()

# Data Scraped from ScrapingDog API

In [ ]:
import requests

def fetch_all_linkedin_jobs(api_key, fields, geoids, pages):
    url = "https://api.scrapingdog.com/linkedinjobs/"
    all_data = []  # Store data from all requests

    # Iterate over each combination of field, geoid, and page
    for field in fields:
        for geoid in geoids:
            for page in pages:
                params = {
                    "api_key": api_key,
                    "field": field,
                    "geoid": geoid,
                    "page": page
                }
                
                response = requests.get(url, params=params)
                
                if response.status_code == 200:
                    # Append data from each request to the list
                    all_data.extend(response.json())
                else:
                    print(f"Request failed for field: {field}, geoid: {geoid}, page: {page} with status code: {response.status_code}")

    return all_data

# Usage example
api_key = "671da7467fddaf7ca053001a"
fields = ["java", "data science", "machine learning"]
geoids = ["100293800","103736294","102277331"]  # NV, Colorado, California
pages = ["1", "2", "3"]

# data = fetch_all_linkedin_jobs(api_key, fields, geoids, pages)

In [ ]:
if data:
    new_Data = pd.DataFrame(data)
    new_Data.to_csv("261024_Job_Data.csv")

# Data Preprocessing

## Filtering Data

Filtering Function Overview
The filter_data function dynamically filters a DataFrame based on a specified list of columns and corresponding conditions. This flexibility allows for customized data extraction based on various criteria, such as dates, maximum or minimum values, and frequent items.

Function Parameters
df (pd.DataFrame): The input DataFrame containing the data you want to filter.

columns (list): A list of column names to apply filters on. Each column corresponds to a condition in the conditions list.

conditions (list): A list of conditions, where each element is a tuple specifying the operation and the value for filtering. Each tuple matches one of the columns in the columns list.

In [20]:
import pandas as pd

def filter_data(df, columns, conditions):
    """
    Filters a DataFrame based on a list of columns and their conditions.

    Parameters:
    - df (pd.DataFrame): The input DataFrame to filter.
    - columns (list): List of column names to apply filters on.
    - conditions (list): List of conditions where each element is a tuple in the format:
                         (condition, value), for example ('>', '2024-04-20').
                         Each tuple should correspond to a column in the columns list.
    
    Returns:
    - pd.DataFrame: A filtered DataFrame.
    """
    # Loop over each column and its corresponding condition
    for column, (condition, value) in zip(columns, conditions):
        if condition == '>':
            df = df[df[column] > value]
        elif condition == '<':
            df = df[df[column] < value]
        elif condition == '==':
            df = df[df[column] == value]
        elif condition == '>=':
            df = df[df[column] >= value]
        elif condition == '<=':
            df = df[df[column] <= value]
        elif condition == '!=':
            df = df[df[column] != value]
        elif condition == 'max':
            max_value = df[column].max()
            df = df[df[column] == max_value]
        elif condition == 'min':
            min_value = df[column].min()
            df = df[df[column] == min_value]
        elif condition == 'top_n':
            top_n_counts = df[column].value_counts().nlargest(value)
            df = df[df[column].isin(top_n_counts.index)]
        elif condition == 'top_n':
            top_n_counts = df[column].value_counts()#.nlargest(value)
            df = df[df[column].isin(top_n_counts.index)]
        else:
            print(f"Invalid condition '{condition}' for column '{column}'")
    
    return df

## Filtering Scraped Data by Date

In [ ]:
# Load the data
scraped_data = pd.read_csv("C:/Users/DELL/Downloads/261024_Job_Data.csv")

# Convert date column to datetime if filtering by date
scraped_data['job_posting_date'] = pd.to_datetime(scraped_data['job_posting_date'], errors='coerce')

# Specify columns and conditions
columns = ['job_posting_date']
conditions = [('>', '2024-04-20')]

# Apply the filter function
filtered_scraped_data = filter_data(scraped_data, columns, conditions)

# Save the filtered data
filtered_scraped_data.to_csv("filtered_scraped_job_data.csv", index=False)

# Print the filtered data
print(filtered_scraped_data)

## Filtering Current Kaggle Data to check top N job positions

In [4]:
import pandas as pd
kaggledata = pd.read_csv("job postings 2023 24/postings.csv")

In [26]:
def filter_top_n_values(df, column, n):
    # Get the top n most frequent values in the specified column
    top_n_values = df[column].value_counts()#.nlargest(n)
    return top_n_values
columns = ['title']
conditions = [('top_n',50)]
top_15_job_roles = filter_data(kaggledata, columns, conditions)

print(top_15_job_roles)

            job_id                                       company_name  \
19       115639136                                  Shannon Waltchack
22       133130219                                                NaN
26       175485704                                               GOYT
30       229924287  REquipment Durable Medical Equipment and Assis...
33       258868844                                               ABME
...            ...                                                ...
123802  3906263304                                     Synectics Inc.
123811  3906264238                               CORA Health Services
123828  3906265264                                    Theoria Medical
123833  3906265319                                      pepperl+fuchs
123847  3906267195                    Trelleborg Applied Technologies

                               title  \
19                        Controller
22                 Software Engineer
26                 Software Engineer
30          Administrative Assistant
33                       Salesperson
...                              ...
123802                  Phlebotomist
123811            Physical Therapist
123828            Nurse Practitioner
123833               Account Manager
123847  Business Development Manager

                                              description  max_salary  \
19      WORK @ SWShannon Waltchack (SW) is seeking a C...         NaN
22      Education Bachelor's degree in software, math,...         NaN
26      Job Description:GOYT is seeking a skilled and ...         NaN
30      The Administrative Assistant will organize and...         NaN
33      ABME, a leader in corporate event planning, is...         NaN
...                                                   ...         ...
123802  Description\n\nRepresents the face of our comp...         NaN
123811  Physical TherapistGet your career â€“ and your p...         NaN
123828  Position Type: Full-time, exempt\n\nCompensati...         NaN
123833  Are you looking for a career that allows you t...         NaN
123847  The Business Development Manager is a 'hunter'...         NaN

       pay_period                       location  company_id  views  \
19            NaN                 Birmingham, AL    988555.0   61.0
22            NaN  Los Angeles Metropolitan Area         NaN    1.0
26            NaN                     Denver, CO  76987056.0  273.0
30         HOURLY                     Woburn, MA  14773918.0    3.0
33            NaN                  United States  11008179.0    4.0
...           ...                            ...         ...    ...
123802        NaN                      Ridge, KS    413796.0    2.0
123811        NaN                      Doral, FL  59103641.0    2.0
123828        NaN                 Boyne City, MI  51664810.0    2.0
123833        NaN                  Milwaukee, WI   1120218.0    1.0
123847        NaN           Texas, United States   2793699.0    4.0

        med_salary  ...                                        skills_desc  \
19             NaN  ...  Strong interpersonal communication skills and ...
22             NaN  ...                                                NaN
26             NaN  ...                                                NaN
30            23.0  ...                                                NaN
33             NaN  ...                                                NaN
...            ...  ...                                                ...
123802         NaN  ...                                                NaN
123811         NaN  ...                                                NaN
123828         NaN  ...                                                NaN
123833         NaN  ...                                                NaN
123847         NaN  ...                                                NaN

         listed_time        posting_domain  sponsored  work_type currency  \
19      1.713210e+12                   NaN          0  FULL_TIME      NaN
22      1.713535e+12                   NaN          0  FULL_TIME      NaN
26      1.713281e+12                   NaN          0  PART_TIME      NaN
30      1.713550e+12                   NaN          0  PART_TIME      USD
33      1.713470e+12                   NaN          0  FULL_TIME      NaN
...              ...                   ...        ...        ...      ...
123802  1.713572e+12     www.synectics.com          0   CONTRACT      NaN
123811  1.713571e+12                   NaN          0  FULL_TIME      NaN
123828  1.713572e+12  boards.greenhouse.io          0  FULL_TIME      NaN
123833  1.713572e+12                   NaN          0  FULL_TIME      NaN
123847  1.713573e+12                   NaN          0  FULL_TIME      NaN

       compensation_type normalized_salary  zip_code     fips
19                   NaN               NaN   35203.0   1073.0
22                   NaN               NaN       NaN      NaN
26                   NaN               NaN   80202.0   8031.0
30           BASE_SALARY           47840.0    1801.0  25017.0
33                   NaN               NaN       NaN      NaN
...                  ...               ...       ...      ...
123802               NaN               NaN   67023.0  20035.0
123811               NaN               NaN   32757.0  12069.0
123828               NaN               NaN   49712.0  26029.0
123833               NaN               NaN   53202.0  55079.0
123847               NaN               NaN       NaN      NaN

[8306 rows x 31 columns]

In [27]:
top_15_job_roles['title'].unique()

array(['Controller', 'Software Engineer', 'Administrative Assistant',
       'Salesperson', 'Registered Nurse', 'Associate Attorney',
       'Sales Representative', 'Customer Service Representative',
       'Staff Accountant', 'Executive Assistant', 'Project Engineer',
       'Project Manager', 'Account Manager', 'Senior Software Engineer',
       'Receptionist', 'Medical Assistant', 'Nurse Practitioner',
       'Accountant', 'Data Analyst', 'Accounting Manager',
       'Sales Associate', 'Sales Specialist', 'Sales Executive',
       'Operations Manager', 'Account Executive', 'Warehouse Associate',
       'Electrical Engineer', 'General Manager', 'Service Technician',
       'Physical Therapist', 'Business Development Manager',
       'Senior Accountant', 'Assistant Manager', 'Maintenance Technician',
       'Manufacturing Engineer', 'Store Manager', 'Financial Analyst',
       'Business Analyst', 'Retail Sales Associate', 'Sales Manager',
       'Assistant Store Manager',
       'Package Handler - Part Time (Warehouse like)',
       'Inside Sales Representative', 'Outside Sales Representative',
       'Phlebotomist', 'Patient Care Technician',
       'OPERATIONS ASSISTANT MANAGER', 'ASSISTANT STORE MANAGER',
       'CUSTOMER SERVICE REPRESENTATIVE', 'Registered Nurse - RN - LTAC'],
      dtype=object)

## Data cube

In [5]:
data_cube = kaggledata.pivot_table(
    values=[
        'med_salary', 'max_salary', 'min_salary', 'views', 'applies', 'normalized_salary'
    ],
    index=[
        'location', 'company_name', 'title', 'formatted_work_type', 'remote_allowed', 'formatted_experience_level'
    ],
    aggfunc={
        'med_salary': 'mean',           # Average median salary
        'max_salary': 'max',            # Maximum salary
        'min_salary': 'min',            # Minimum salary
        'views': 'sum',                 # Total views
        'applies': 'sum',               # Total applications
        'normalized_salary': 'mean'     # Average normalized salary
    }
).reset_index()

# Display the resulting data cube
print("Data Cube:")
print(data_cube)

# Optional: Save to CSV for further analysis
data_cube.to_csv('job_data_cube.csv', index=False)

Data Cube:
                    location                    company_name  \
0                 Abbott, TX                      TEKsystems
1                Abilene, TX  International Rescue Committee
2                Abilene, TX                         J. Galt
3                Addison, TX                        Acrisure
4                Addison, TX                       CBase Inc
...                      ...                             ...
9567  Youngstown-Warren area                         J. Galt
9568           Ypsilanti, MI                      BetterHelp
9569           Yuba City, CA                         J. Galt
9570               Yukon, OK                      BetterHelp
9571                Yuma, AZ                         J. Galt

                                                  title formatted_work_type  \
0                                     Armis/OT Engineer           Full-time
1                English Language Instruction Case Aide           Part-time
2                                         Sales Manager           Full-time
3     Remote Commercial Marketing Account Manager (I...           Full-time
4     Software Quality Analyst - Mobile QA @ Addison...            Contract
...                                                 ...                 ...
9567                                      Sales Manager           Full-time
9568           Licensed Therapist for Online Counseling           Full-time
9569                                      Sales Manager           Full-time
9570           Licensed Therapist for Online Counseling           Full-time
9571                                      Sales Manager           Full-time

      remote_allowed formatted_experience_level  applies  max_salary  \
0                1.0                Entry level      0.0         NaN
1                1.0                Entry level      0.0         NaN
2                1.0           Mid-Senior level      0.0         NaN
3                1.0                Entry level      0.0         NaN
4                1.0           Mid-Senior level     45.0         NaN
...              ...                        ...      ...         ...
9567             1.0           Mid-Senior level      0.0         NaN
9568             1.0                Entry level      0.0         NaN
9569             1.0           Mid-Senior level      0.0         NaN
9570             1.0                Entry level      0.0         NaN
9571             1.0           Mid-Senior level      0.0         NaN

      med_salary  min_salary  normalized_salary  views
0            NaN         NaN                NaN    3.0
1            NaN         NaN                NaN    5.0
2            NaN         NaN                NaN    4.0
3            NaN         NaN                NaN    4.0
4            NaN         NaN                NaN  119.0
...          ...         ...                ...    ...
9567         NaN         NaN                NaN    2.0
9568         NaN         NaN                NaN    0.0
9569         NaN         NaN                NaN   10.0
9570         NaN         NaN                NaN    0.0
9571         NaN         NaN                NaN    6.0

[9572 rows x 12 columns]

## Dynamic data cube

In [6]:
def dynamic_data_cube(df, company_name=None, title=None, location=None, work_type=None):
    filtered_df = df.copy()
    
    # Apply filters based on user input
    if company_name:
        filtered_df = filtered_df[filtered_df['company_name'] == company_name]
    if title:
        filtered_df = filtered_df[filtered_df['title'] == title]
    if location:
        filtered_df = filtered_df[filtered_df['location'] == location]
    if work_type:
        filtered_df = filtered_df[filtered_df['formatted_work_type'] == work_type]
    
    # Check if filtered DataFrame is not empty
    if filtered_df.empty:
        return "No data found for the specified filters."
    
    # Aggregate metrics for the filtered data
    result = {
        'Total Job Listings': len(filtered_df),
        'Max Salary': filtered_df['max_salary'].max(),
        'Min Salary': filtered_df['min_salary'].min(),
        'Average Median Salary': filtered_df['med_salary'].mean(),
        'Total Views': filtered_df['views'].sum(),
        'Total Applications': filtered_df['applies'].sum(),
        'Average Normalized Salary': filtered_df['normalized_salary'].mean()
    }
    
    return result

In [7]:
print(dynamic_data_cube(kaggledata, company_name="ServiceNow"))

{'Total Job Listings': 57, 'Max Salary': np.float64(316900.0), 'Min Salary': np.float64(69960.0), 'Average Median Salary': np.float64(313100.0), 'Total Views': np.float64(914.0), 'Total Applications': np.float64(95.0), 'Average Normalized Salary': np.float64(187002.08333333334)}

In [8]:
print(dynamic_data_cube(kaggledata, title="Full Stack Java Developer"))

{'Total Job Listings': 7, 'Max Salary': np.float64(125000.0), 'Min Salary': np.float64(110000.0), 'Average Median Salary': nan, 'Total Views': np.float64(123.0), 'Total Applications': np.float64(40.0), 'Average Normalized Salary': np.float64(117500.0)}